
@{
    ViewData["Title"] = "CreateCategory";
}
@model Category


<form method="post">
    <div>
        <h1 class="text-primary">Create Category</h1>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</form>
