@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Category Index</h1>
<div>
    <a asp-controller="Category" asp-action="CreateCategory">
    <button class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp Create new Category
        </button>
    </a>
</div>
<br />
<table>
    <thead>
        <tr>
            <th>SNo</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Name</td>
                    <td><a asp-controller="Category" asp-action="EditCategory" asp-route-id="@obj.Id">Edit</a></td>
                    <td><a asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@obj.Id">Delete</a></td>

                </tr>

            }
    </tbody>
</table>

